

.table {
  width: 94%;

  tr, .ivu-table-row {
    display: table-row;
  }

  .ivu-table-cell-tree {
    margin-right: 4px;
  }

  .ivu-table-cell-slot {
    display: inline;

    .ivu-input-wrapper {
      width: auto;
    }
  }

  .operation {

    button:not(last-child) {
      margin-right: 14px;
    }
  }
}

.table>:first-child {
  width: 100%;
}

.form {
  margin-top: 20px;
}