// 主色
$primary: #2d8cf0;
$light-primary: #5cadff;
$dark-primary: #2b85e4;

// 辅助色
$info: #2db7f5;
$success: #19be6b;
$warning: #ff9900;
$error: #ed4014;

// 中性色
$title: #17233d;
$content: #515a6e;
$sub-color: #808695;
$disabled: #c5c8ce;
$border: #dcdee2;
$divider: #e8eaec;
$background: #f8f8f9;
